<% if images.size > 0 %>
<div id="bb-bookblock-<%= project_id %>-<%=detail_id%>" class="bb-bookblock">
  <% images.each do |img| %>
  <div class="bb-item">
    <%= image_tag(img.image.url, class: 'bookblock-img') %>
  </div>
  <% end %>
</div>
<script>
  $(function() {
    var bb = $( '#bb-bookblock-<%= project_id %>-<%=detail_id%>' );

    bb.bookblock({
      shadowSides: 0.3,
      shadowFlip: 0.3,
      circular: true
    });

    bb.click(function(){
      bb.bookblock('next');
    });


  });
</script>
<% end %>