<div class="container-fluid project-form">
	<div class="row">
		<%= form_for [:admin, @project] do |f| %>

		<div class="col-md-3 col-lg-2">
			<section>
				<h4>Controls</h4>
				<%= f.submit class: 'btn btn-default', value: 'Save' %>
				<%= if @project.id then link_to "Preview", project_path(@project), class: 'btn btn-warning', target: '_blank' end %>
			</section>

			<section>
				<h4>Published?</h4>
				<%= f.check_box :published %>
			</section>

			<% if @project.id %>
			<section>
				<h4>Delete?</h4>
				<%= link_to "Delete", admin_project_path(@project), method: 'delete', data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
			</section>
			<% end %>
		</div>
		<div class="col-md-9 col-lg-10">

			<div class="input-group">
				<%= f.label :title %>
				<%= f.text_field :title, class: 'form-control' %>
			</div>

			<div class="input-group">  
				<%= f.label :description %>
				<%= f.text_area :description, class: 'form-control', rows: 5, cols: 60 %>
			</div>

			<div class="input-group">
				<%= f.label :thumbnail %>
				<div class="row">
					<div class="col-sm-3 col-lg-2">
						<%= link_to image_tag(@project.thumbnail.url(:thumb), class: 'thumbnail'), @project.thumbnail.url %>
					</div>
					<div class="col-sm-8 col-lg-9">
						<%= f.file_field :thumbnail %>
					</div>
				</div>
				<span>Shadow?</span>&nbsp;<%= f.check_box :shadow %>
			</div>

			<div class="input-group">
				<%= f.label :hero %>
				<div class="row">
					<div class="col-sm-3 col-lg-2">
						<%= link_to image_tag(@project.hero.url(:thumb), class: 'thumbnail'), @project.hero.url %>
					</div>
					<div class="col-sm-8 col-lg-9">
						<%= f.file_field :hero %>
					</div>
				</div>
			</div>

			<% if !@project.new_record? %>
			<div class="input-group" id="details">
				<%= f.label :details %>

				
				<div class="row">
					<div class="col-lg-12">
						<section>
							<%= file_field_tag "images[]", type: :file, multiple: true %>
						</section>
						<section>
							<%= link_to "Add Flipbook", admin_project_project_details_path(@project), method: 'post', class: 'btn btn-warning' %>
						</section>
					</div>
				</div>


				<section>
					<span>Bottom padding?</span>&nbsp;<%= f.check_box :bottom_padding %>
				</section>
				<section class="container-fluid">
					<%= f.fields_for :project_details do |d| %>
					<% detail = d.object %>
					<div class="row">
						<div class="col-sm-7">
							<div class="project-detail">
							<% if detail.detail_type == 'image' %>
								<h1>Image</h1>
								<%= link_to image_tag(detail.image.url(:thumb), class: 'thumbnail'), detail.image.url %>
								<%= d.text_area :description, class: 'form-control', rows: 5, cols: 20  %>
							<% elsif detail.detail_type == 'flipbook' %>
								<h1>Flipbook</h1>
								This flipbook has <%= detail.images.count %> images.
								<%= link_to "Edit this flipbook", edit_admin_project_detail_path(detail) %>
							<% end %>
							</div>
						</div>
						<div class="col-sm-5">
							<%= link_to "Delete", admin_project_project_detail_path(@project, detail), method: 'delete', data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
							<%= link_to "Up", admin_project_project_detail_path(@project, id: detail.id, move: 'up'), method: 'put', class: 'btn btn-default' %>
							<%= link_to "Down", admin_project_project_detail_path(@project, id: detail.id, move: 'down'), method: 'put', class: 'btn btn-default' %>
						</div>
					</div>
					<% end %>
				</section>
			</div>
			<% end %>
		</div>
		<% end %>
	</div>
</div>