<div class="row project">
  <div class="col-lg-2">
    <%= link_to image_tag(project.thumbnail.url(:thumb), class: 'thumbnail'), edit_admin_project_path(project) %>
    <%= link_to "Edit", edit_admin_project_path(project), class: 'btn btn-default' %>
    <%= link_to "Delete", admin_project_path(project), method: 'delete', data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
  </div>
  <div class="col-lg-10">
    <h1><%= project.title %></h1>
    <p><%= project.description %></p>
  </div>
</div>