<div class="project-page">
  <div class="row hero">
    <div class="arrows">
      <% if prev_project %>
      <div class="left">
        <%= link_to image_tag('arrow-left.png'), project_path(prev_project) %>
      </div>
      <% end %>
      <% if next_project %>
      <div class="right">
        <%= link_to image_tag('arrow-right.png'), project_path(next_project) %>
      </div>
      <% end %>
    </div>
    <% if project.hero.file? %>
    <%= image_tag project.hero.url %>
    <% else %>
    <%= image_tag project.thumbnail.url %>
    <% end %>
    <div class="home hidden-xs">
      <%= link_to image_tag('MKLogo.png'), root_path %>
    </div>
  </div>
  <div class="row project-text">
    <div class="box col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
      <h1 class="title"><%= project.title %></h1>
      <div class="description <%= if project.centered then 'centered' else 'justified' end %>"><%= project.description %></div>
    </div>
  </div>
  <div class="details">
    <% project.project_details.each do |detail| %>

    <% if detail.detail_type == "image" %>
    <div class="detail">
      <div class="row">
        <div class="col-xs-12">
          <%= image_tag detail.image.url, class: 'detail-img' %>
        </div>
        <% if detail.description.present? %>
        <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
          <div class="description <%= if detail.centered then 'centered' else 'justified' end %>">
            <%= detail.description %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <% elsif detail.detail_type == "flipbook" %>
    <div class="detail flipbook">
      <%= render 'partials/flipbook', images: detail.images, project_id: project.id, detail_id: detail.id %>
    </div>
    <% end %>

    <% end %>



    <% if project.bottom_padding? %>
    <div class="bottom-padding"></div>
    <% end %>
  </div>
</div>
<% if next_project && prev_project %>
<script>
  $(document).keydown(function(e) {
    switch(e.which) {
        case 37: // left
        window.location = '<%= project_path(prev_project) %>';
        break;

        case 39: // right
        window.location = '<%= project_path(next_project) %>';
        break;

        default: return; // exit this handler for other keys
      }
    e.preventDefault(); // prevent the default action (scroll / move caret)
  });
</script>
<% end %>